.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container3 {
    text-align: center;
    align-items: center;
    
  }
  
  .marquee-container {
    overflow: hidden;
    align-items: center;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-scroll 10s linear infinite;
    align-items: center;
    
  }
  
  @keyframes marquee-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee img {
    display: inline-block;
    margin: 0 20px;
    height: 50px; 
  }
  
  .page5heading{
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-left: 500px;
    padding-right: 400px;
  }


  @media (max-width:700px) {
    .page5heading{
      font-size: 20px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      padding-left: 250px;
      padding-right: 200px;
    }
    
  }